@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: aliceblue;

  background: linear-gradient(
    72.3deg,
    rgba(29, 7, 64, 1) 8.5%,
    rgba(253, 105, 139, 1) 92.2%
  );

  height: 100vh;
}

button {
  cursor: pointer;
}
